mixin pointInputs
  each level, levelIndex in site.data.levels
    each val, index in level.points
      +pointInput('point' + levelIndex + index)
    +resultInput('result' + levelIndex)

mixin pointInput(pointName)
  input(type='radio', name=pointName, value=0, checked)
  input(type='radio', name=pointName, value=1, id=pointName)


mixin points(num)
  each val, index in site.data.levels[num].points
    +point('point'+ num + index, val.x, val.y)
  style
    each val, index in site.data.levels[num].points
      != 'input[name=\'point'+ num + index + '\'][value=\'1\']:checked ~'
    != 'input[name=\'result' + num + '\'][value=\'1\']:checked ~'
    !='.game .level' + num + '{'
    !=  'display: none!important;'
    !='}'

    each val, index in site.data.levels[num].points
      != 'input[name=\'point' + num + index + '\'][value=\'1\']:checked ~'
    != 'input[name=\'result' + num + '\'][value=\'1\']:checked ~'
    !='.game .level' + (num + 1) + '{'
    !=  'display: block;'
    !='}'

    each val, index in site.data.levels[num].points
      != 'input[name=\'point' + num + index + '\'][value=\'1\']:checked ~'
    != 'input[name=\'result' + num + '\'][value=\'0\']:checked ~'
    !='.game .level' + num + ' .completed {'
    !=  'display: block;'
    !='}'

    each val, index in site.data.levels[num].points
      != 'input[name=\'point' + num + index + '\'][value=\'1\']:checked ~'
    != 'input[name=\'result' + num + '\'][value=\'1\']:checked ~'
    !='.game .level' + num + ' .completed {'
    !=  'display: none;'
    !='}'

mixin point(pointName, x, y)
  label(class=pointName, for=pointName, style={left:x + 'px', top:y + 'px'})
  style
    != 'input[name=\'' + pointName + '\'][value=\'1\']:checked ~ .game [class=\'' + pointName + '\']::after {'
    !=  'transform: scale(1);'
    != '}'
